<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>

<body onload="sendRequest('GET', 'http://localhost:8080/api/users').then(data => console.log(data)).catch(err => console.log(err))">


</body>
<script type="text/javascript">
    function sendRequest(method, url, body = null) {
        const headers = {
            "Content-Type": "application/json"
        }

        return fetch(url, {
            mode: 'cors',
            headers: {
                'Access-Control-Allow-Origin':'*'
            }
        }).then(response => {
            return response.text()
        })
    }
</script>
</html>